<!DOCTYPE html>
    <head>
        <title>Vue Index 6</title>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <script>
            Vue.component("checkbox-component", {
                template: `<input
                            type="checkbox"
                            v-bind:checked="checked"
                            v-on:change="$emit('change', $event.target.checked)"
                           >`,
                model: {
                    prop: 'checked',
                    event: 'change'
                },
                props: {
                    checked: Boolean
                }
            });

            Vue.component('custom-input', {
                // forbid inherit attrs on the root element,
                // but pass it to child element by using v-bind="$attrs"
                inheritAttrs: false,
                template: `<label>
                            <input
                              v-bind:value="value"
                              v-bind="$attrs"
                              v-on="inputListeners"
                            >
                           </label>`,
                props: ['value'],
                computed: {
                    inputListeners: function() {
                        var listeners = this.$listeners;
                        var vm = this;
                        return {
                            ...listeners,
                            input: function(event) {
                                vm.$emit('input', event.target.value);
                            }
                        };
                    }
                }
            });
        </script>
        <div id="maindiv">
            <checkbox-component
                v-model="check"
            >
            </checkbox-component>
            </br>
            <custom-input
                v-model="inputValue"
                v-on:focus="onFocus"
                id="input-id"
            >                
            </custom-input>
        </div>
        <script>
            var vm = new Vue({
                el: "#maindiv",
                data: {
                    check: true,
                    inputValue: ""
                },
                watch: {
                    inputValue: function(value) {
                        console.log("inputValue",value);
                    }
                },
                methods: {
                    onFocus: function(event) {
                        console.log("onFocus", event);
                    }
                }
            });
        </script>
    </body>
</html>