<!DOCTYPE html>
    <head>
        <title>Vue Index 3</title>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <!-- block for hide/show element within template tag -->
        <div id="div1">
            <button @click="onHideShowBtnClick"> {{ hideShowBtnText }} </button>
            <template v-if="showElements">
                <p>Этот текст можно скрыть, а можно показать</p>
            </template>
        </div>
        <script>
            var vm = new Vue({
                el: "#div1",
                data: {
                    showElements: true
                },
                methods: {
                    onHideShowBtnClick: function(){
                        this.showElements = !this.showElements;
                    }
                },
                computed: {
                    hideShowBtnText: function(){
                        return this.showElements ? "Скрыть" : "Показать";
                    }
                }
            });
        </script>
        <!-- v-for by properties of object from state -->
        <div id="div2">
            <ul :type="type">
                <li v-for="(value, key, index) in demoObject"> {{ index }}. {{ key }}: {{ value }} </li>
            </ul>
            <button @click="onChangeBtnClick">Change Li type</button>
        </div>
        <script>
            var forVM = new Vue({
                el: "#div2",
                data: {
                    demoObject: {
                        firstName: "Alex",
                        lastName: "Barakova",
                        age: 28
                    },
                    type: "circle"
                },
                methods: {
                    onChangeBtnClick: function(){
                        this.type = this.type == "circle" ? "square" : "circle";
                        return this.type;
                    }
                }
            });
        </script>
        <div id="div3">
            <ul>
                <li v-for="n in getEven(numbers)"> {{ n }}</li>
            </ul>
        </div>
        <script>
            var evenVm = new Vue({
                el: "#div3",
                data: {
                    numbers: [1, 2, 3, 4, 5]
                },
                methods: {
                    getEven: function(numbers){
                        return numbers.filter(function(n){
                            return n % 2 == 0
                        });
                    }
                }
            });
        </script>
    </body>
</html>