<!DOCTYPE html>
    <head>
        <title>Vue Index 7</title>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <script>
            Vue.component('custom-link', {
                inheritAttrs: false,
                template: `<a
                             v-bind:href="'https://' + linkattrs.href"
                             v-bind:target="linkattrs.target"
                           >
                             <slot name="linklabel" v-bind:link="link"> {{ link.label }} </slot>
                           </a>`,
                props: ['linkattrs'],
                data: function() {
                    return {
                        link: {
                            label: 'Click me'
                        }
                    }
                }
            }); 

            Vue.component('todo-list', {
                template: `<ul>
                             <li
                               v-for="todo in todos"
                               v-bind:key="todo.id" 
                             >
                             <slot name="todo" v-bind:todo="todo">
                              {{ todo.text }}
                             </slot>
                             </li>
                </ul>`,
                props: ['todos']
            });   
        </script>
        <div id="mainDiv">
            <label>Type link label</label>
            <input v-model="linkattrs.href">
            <custom-link
                v-bind:linkattrs="linkattrs"
            >
                <template v-slot:linklabel="{link}">
                    <span v-bind:style="{color: 'red'}">
                        {{ linkattrs.href }}
                    </span>
                    {{ link.label }}
                </template>
            </custom-link>
            </br>

            <todo-list
                v-bind:todos="todos"
            >
                <template v-slot:todo="{ todo }">
                    <span v-if="todo.isComplete">✓</span>
                    {{ todo.text }}
                </template>
            </todo-list>
        </div>
        <script>
            var vm = new Vue({
                el: "#mainDiv",
                data: {
                    linkattrs: {
                        href: "",
                        target: "_blank"
                    },
                    todos: [
                        {id: 1, text: 'todo1', isComplete: true},
                        {id: 2, text: 'todo2', isComplete: false},
                        {id: 3, text: 'todo3', isComplete: false}
                    ]
                }
            });
        </script>
    </body>
</html>